:root,
::before,
::after {
  --font-sans: "InterVariable",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

/* [data-theme='dark'] {
  --background-color: #0f172a;
  --color: #ffffff;
} */
